<!DOCTYPE html>
<html>
<head>
    <title>Welcome to chris' kindom of food</title>
</head>
<body>
 <!-- Site Header -->
 <h1>Hi. I am chris. Welcome to my kindom of food!</h1>

<!-- Blog Post -->
 <h2>Today we will talk about the food</h2>
 <p> 
     Food is any substance[1] consumed to provide nutritional support for an organism. It is usually of plant or animal origin, and contains essential nutrients, such as carbohydrates, fats, proteins, vitamins, or minerals. The substance is ingested by an organism and assimilated by the organism's cells to provide energy, maintain life, or stimulate growth.
 
     Historically, humans secured food through two methods: hunting and gathering and agriculture. Today, the majority of the food energy required by the ever increasing population of the world is supplied by the food industry.

     Food safety and food security are monitored by agencies like the International Association for Food Protection, World Resources Institute, World Food Programme, Food and Agriculture Organization, and International Food Information Council. They address issues such as sustainability, biological diversity, climate change, nutritional economics, population growth, water supply, and access to food.

     The right to food is a human right derived from the International Covenant on Economic, Social and Cultural Rights (ICESCR), recognizing the "right to an adequate standard of living, including adequate food", as well as the "fundamental right to be free from hunger".
     <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=728651581,1408123178&fm=200&gp=0.jpg">
     <img src="https://ss0.bdstatic.com/70cFvHSh_Q1YnxGkpoWK1HF6hhy/it/u=830727998,1497255538&fm=200&gp=0.jpg">
</p>

<!-- Like And Comment -->
 <button>Fantastic!</button>    <button>What a hell!</button>
 <h2>give me some advice?</h2>
 <form>
 <textarea placeholder="Please Enter Your Comment"></textarea>
 <input type="submit" value="Post Me!">
 </form>
</body>
</html>